@import '_settings'

normalize()
base()

body
	padding: 50px
	max-width 800px
	margin auto
	font-size 16px

pre
	font-size 14px

.side-by-side
	width 50%
	display inline-block
	vertical-align top
	padding 5px
	box-sizing border-box

.doctype-jade
	width 33%

.doctype-html
	width 66%

.joined
	margin-bottom 0

	+ .joined
		margin-bottom 15px
		margin-top 0

chapter
	margin-top 100px
	display block
	font-size 70px
	text-align right

h1 
	text-align right
