@import '_settings'

normalize()
base()

body
	padding: 50px
	max-width 900px
	margin auto
	font-size 16px

pre
	font-size 14px

pre code
	padding 5px

.side-by-side
	width 49% // slightly less than half
	display inline-block
	vertical-align top
	box-sizing border-box

.doctype-jade
	width 30%

.doctype-html
	width 70%

.joined
	margin-bottom 0

	+ .joined
		margin-bottom 15px
		margin-top 0

chapter
	margin-top 100px
	display block
	font-size 70px
	text-align right
	page-break-before always

h1
	text-align right

//images
img ~ img
	height 100px

//numbering
pre
	position: relative
	overflow: hidden

	ul
		margin 5px 0

	code
		display: block
		overflow-y: auto
		white-space pre

.has-numbering
	margin-left: 23px

.pre-numbering
	position: absolute
	top: 0
	left: 0
	width: 20px
	padding: 0
	list-style-type: none
	text-align: right
	color: #AAA

// don't show line numbers for bash... kinda useless
pre code.bash ul
	color white
